<section class="about-me-section" id="about-me">
  <div class="conteiner about-me">
    <h2 class="about-title">ABOUT ME</h2>
    <picture>
      <source
        srcset="./img/about-me/about-desk.png, ./img/about-me/about-desk-2x.png"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./img/about-me/about-tab.png, ./img/about-me/about-tab-2x.png"
        media="(min-width: 768px)"
      />
      <source
        srcset="./img/about-me/about-mob.png, ./img/about-me/about-mob-2x.png"
        media="(min-width: 320px)"
      />
      <img
        class="about-img"
        src="./img/about-me/about-desk-2x.png"
        width="384"
        height="448"
        alt="My photo"
      />
    </picture>
    <div class="about-discription">
      <div class="bio">
        <h3 class="about-title-second"></h3>
        <p class="bio-part-one">
          I'm Lloyd Jefferson, a talented programmer specializing in software
          development. My expertise spans various programming languages and
          technologies, and I am dedicated to continually enhancing my skills. I
          thrive on seeking unconventional and creative solutions to problems,
          leveraging a high level of analytical skills to effectively tackle
          even the most challenging tasks.
        </p>
        <p class="bio-part-two">
          Adaptable to both independent and team-oriented work, I collaborate
          seamlessly with colleagues, exchanging ideas and finding optimal
          solutions. My professional maturity enables me to navigate challenges
          and stressful situations with a calm demeanor, maintaining a
          consistently high quality of work. Committed to self-improvement, I
          actively engage in studying new technologies and practices to stay
          current with the latest innovations in the field.
        </p>
      </div>
      <div class="education">
        <h3 class="about-title-second">EDUCATION</h3>
        <ul class="education-list">
          <li class="education-item">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </li>
          <li class="education-item">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </li>
          <li class="education-item">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </li>
        </ul>
      </div>
      <div class="role">
        <h3 class="about-title-second">ROLE</h3>
        <ul class="role-list">
          <li class="role-item">Frontend development</li>
          <li class="role-item">HeadlessCMS, Wordpress</li>
          <li class="role-item">Blender (enjoy)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
