<header class="header" id="header">
    <div class="header-container">
        <a class="logo" href="/">Lloyd<span class="logo-green">Jefferson.</span></a>
        <button class="burger-icon" type="button">&#9776;</button>
        <button class="close-modal" type="button">&times;</button>
        <nav class="header-navigation">
            <ul class="header-menu">
                <li class="header-menu-item"><a class="header-menu-link" href="#about">About me</a></li>
                <li class="header-menu-item"><a class="header-menu-link" href="#my-projects">Projects</a></li>
                <li class="header-menu-item"><a class="header-menu-link" href="#work-together">Contacts</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="modal-header">
    <div class="modal-content">
        <nav class="header-navigation">
            <ul class="header-menu">
                <li class="header-menu-item"><a class="header-menu-link" href="#about">About me</a></li>
                <li class="header-menu-item"><a class="header-menu-link" href="#my-projects">Projects</a></li>
                <li class="header-menu-item"><a class="header-menu-link" href="#work-together">Contacts</a></li>
            </ul>
        </nav>
    </div>
</div>