<section class="hero" id="hero">
  <div class="container hero-container">
    <div class="hero-container-bg">
      <div class="hero-title-wrap">
        <h1 class="hero-title">Hello, I am<br><span class="hero-title-green">Fullstack developer</span></h1>
        <img class="hero-img" src="/img/hero/hero-desk.png">
      </div>
      <div class="hero-info-wrap">
        <div class="hero-space-link">
          <svg class="hero-icon-arrow" width="28" height="14">
            <use href="/img/svg/sprite.svg#icon-arrow-order"></use>
          </svg>
          <a class="hero-link" href="#work-together">Order the project</a>
          <div class="hero-decor-rectangle"></div>
        </div>
        <p class="hero-info">I work with people all over the world to create <span class="hero-info-greeen">impressive</span> and <span class="hero-info-greeen">functional websites</span> that reflect each client's unique personality. </p>
      </div>
    </div>
  </div>
  <div class="hero-soc-list-wrap">
    <ul class="hero-soc-list">
      <li class="hero-soc-item">
        <a class="hero-soc-link" href="https://www.instagram.com/goitclub/" target="blank">Instagram</a>
      </li>
      <li class="hero-soc-item">
        <a class="hero-soc-link" href="https://www.facebook.com/goITclub/" target="blank">Facebook</a>
      </li>
      <li class="hero-soc-item">
        <a class="hero-soc-link" href="https://www.linkedin.com/school/goit-start-your-career-in-it/" target="blank">Linkedin</a>
      </li>
      <li class="hero-soc-item">
        <a class="hero-soc-link" href="https://github.com/zolegov/techtitans" target="blank">GitHub</a>
      </li>
    </ul>
  </div>
</section>
