<section id="my-project" class="section-projects">
  <div class="container">
    <h2 class="my-projects-title">my <span>projects</span></h2>
    <ul class="my-projects-list">
      <li class="my-projects-item">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/my-projects/wallet-mob.webp    1x,
              ./img/my-projects/wallet-mob-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/my-projects/wallet-mob.png    1x,
              ./img/my-projects/wallet-mob-2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ./img/my-projects/wallet-tab.webp    1x,
              ./img/my-projects/wallet-tab-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ./img/my-projects/wallet-tab.png    1x,
              ./img/my-projects/wallet-tab-2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/my-projects/wallet-pc.webp    1x,
              ./img/my-projects/wallet-pc-2x.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/my-projects/wallet-pc.png    1x,
              ./img/my-projects/wallet-pc-2x.png 2x
            "
            type="image/png"
          />
          <img src="./img/my-projects/wallet-mob.png" alt="Wallet webservice" />
        </picture>
        <p class="my-project-text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects-wrap">
          <div class="my-projects-subtitle-wrap">
            <h3 class="my-projects-subtitle">Wallet webservice</h3>
          </div>
          <div class="my-project-link-wrap">
            <a
              class="my-project-link"
              href="https://github.com/zolegov/techtitans"
              target="_blank"
              >VISIT
              <svg width="24" height="24">
                <use href="./img/svg/sprite.svg#icon-arrow-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="my-projects-item">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/my-projects/green-harvest-mob.webp    1x,
              ./img/my-projects/green-harvest-mob-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/my-projects/green-harvest-mob.png    1x,
              ./img/my-projects/green-harvest-mob-2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ./img/my-projects/green-harvest-tab.webp    1x,
              ./img/my-projects/green-harvest-tab-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ./img/my-projects/green-harvest-tab.png    1x,
              ./img/my-projects/green-harvest-tab-2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/my-projects/green-harvest-pc.webp    1x,
              ./img/my-projects/green-harvest-pc-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/my-projects/green-harvest-pc.png    1x,
              ./img/my-projects/green-harvest-pc-2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./img/my-projects/green-harvest-mob.png"
            alt="Green harvest webservice"
          />
        </picture>
        <p class="my-project-text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects-wrap">
          <div class="my-projects-subtitle-wrap">
            <h3 class="my-projects-subtitle">Green harvest webservice</h3>
          </div>
          <div class="my-project-link-wrap">
            <a
              class="my-project-link"
              href="https://github.com/zolegov/techtitans"
              target="_blank"
              >VISIT
              <svg width="24" height="24">
                <use href="./img/svg/sprite.svg#icon-arrow-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="my-projects-item">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/my-projects/english-mob.webp    1x,
              ./img/my-projects/english-mob-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/my-projects/english-mob.png    1x,
              ./img/my-projects/english-mob-2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ./img/my-projects/english-tab.webp    1x,
              ./img/my-projects/english-tab-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ./img/my-projects/english-tab.png    1x,
              ./img/my-projects/english-tab-2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/my-projects/english-pc.webp    1x,
              ./img/my-projects/english-pc-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/my-projects/english-pc.png    1x,
              ./img/my-projects/english-pc-2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./img/my-projects/english-mob.png"
            alt="English Exellence webservice"
          />
        </picture>
        <p class="my-project-text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects-wrap">
          <div class="my-projects-subtitle-wrap">
            <h3 class="my-projects-subtitle">English Exellence webservice</h3>
          </div>
          <div class="my-project-link-wrap">
            <a
              class="my-project-link"
              href="https://github.com/zolegov/techtitans"
              target="_blank"
              >VISIT
              <svg width="24" height="24">
                <use href="./img/svg/sprite.svg#icon-arrow-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="my-projects-item is-hidden">
        <picture>
          <source
            srcset="
              ./img/my-projects/power-pulse.webp    1x,
              ./img/my-projects/power-pulse-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/my-projects/power-pulse.png    1x,
              ./img/my-projects/power-pulse-2x.png 2x
            "
            type="image/png"
          />
          <img
            class="my-project-img"
            src="./img/my-projects/power-pulse.png"
            alt="power pulse webservice"
          />
        </picture>
        <p class="my-project-text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects-wrap">
          <div class="my-projects-subtitle-wrap">
            <h3 class="my-projects-subtitle">power pulse webservice</h3>
          </div>
          <div class="my-project-link-wrap">
            <a
              class="my-project-link"
              href="https://github.com/zolegov/techtitans"
              target="_blank"
              >VISIT
              <svg width="24" height="24">
                <use href="./img/svg/sprite.svg#icon-arrow-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="my-projects-item is-hidden">
        <picture>
          <source
            srcset="
              ./img/my-projects/mimino.webp    1x,
              ./img/my-projects/mimino-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/my-projects/mimino.png    1x,
              ./img/my-projects/mimino-2x.png 2x
            "
            type="image/png"
          />
          <img
            class="my-project-img"
            src="./img/my-projects/mimino.png"
            alt="mimino website"
          />
        </picture>
        <p class="my-project-text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects-wrap">
          <div class="my-projects-subtitle-wrap">
            <h3 class="my-projects-subtitle">mimino website</h3>
          </div>
          <div class="my-project-link-wrap">
            <a
              class="my-project-link"
              href="https://github.com/zolegov/techtitans"
              target="_blank"
              >VISIT
              <svg width="24" height="24">
                <use href="./img/svg/sprite.svg#icon-arrow-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="my-projects-item is-hidden">
        <picture>
          <source
            srcset="
              ./img/my-projects/vyshyvanka.webp    1x,
              ./img/my-projects/vyshyvanka-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/my-projects/vyshyvanka.png    1x,
              ./img/my-projects/vyshyvanka-2x.png 2x
            "
            type="image/png"
          />
          <img
            class="my-project-img"
            src="./img/my-projects/vyshyvanka.png"
            alt="vyshyvanka vibes Landing Page"
          />
        </picture>
        <p class="my-project-text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects-wrap">
          <div class="my-projects-subtitle-wrap">
            <h3 class="my-projects-subtitle">vyshyvanka vibes Landing Page</h3>
          </div>
          <div class="my-project-link-wrap">
            <a
              class="my-project-link"
              href="https://github.com/zolegov/techtitans"
              target="_blank"
              >VISIT
              <svg width="24" height="24">
                <use href="./img/svg/sprite.svg#icon-arrow-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="my-projects-item is-hidden">
        <picture>
          <source
            srcset="
              ./img/my-projects/chego.webp    1x,
              ./img/my-projects/chego-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/my-projects/chego.png    1x,
              ./img/my-projects/chego-2x.png 2x
            "
            type="image/png"
          />
          <img
            class="my-project-img"
            src="./img/my-projects/chego.png"
            alt="chego jewelry website"
          />
        </picture>
        <p class="my-project-text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects-wrap">
          <div class="my-projects-subtitle-wrap">
            <h3 class="my-projects-subtitle">chego jewelry website</h3>
          </div>
          <div class="my-project-link-wrap">
            <a
              class="my-project-link"
              href="https://github.com/zolegov/techtitans"
              target="_blank"
              >VISIT
              <svg width="24" height="24">
                <use href="./img/svg/sprite.svg#icon-arrow-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="my-projects-item is-hidden">
        <picture>
          <source
            srcset="
              ./img/my-projects/energy-flow.webp    1x,
              ./img/my-projects/energy-flow-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/my-projects/energy-flow.png    1x,
              ./img/my-projects/energy-flow-2x.png 2x
            "
            type="image/png"
          />
          <img
            class="my-project-img"
            src="./img/my-projects/energy-flow.png"
            alt="energy flow webservice "
          />
        </picture>
        <p class="my-project-text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects-wrap">
          <div class="my-projects-subtitle-wrap">
            <h3 class="my-projects-subtitle">energy flow webservice</h3>
          </div>
          <div class="my-project-link-wrap">
            <a
              class="my-project-link"
              href="https://github.com/zolegov/techtitans"
              target="_blank"
              >VISIT
              <svg width="24" height="24">
                <use href="./img/svg/sprite.svg#icon-arrow-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="my-projects-item is-hidden">
        <picture>
          <source
            srcset="
              ./img/my-projects/fruitbox.webp    1x,
              ./img/my-projects/fruitbox-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/my-projects/fruitbox.png    1x,
              ./img/my-projects/fruitbox-2x.png 2x
            "
            type="image/png"
          />
          <img
            class="my-project-img"
            src="./img/my-projects/fruitbox.png"
            alt="fruitbox online store"
          />
        </picture>
        <p class="my-project-text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects-wrap">
          <div class="my-projects-subtitle-wrap">
            <h3 class="my-projects-subtitle">fruitbox online store</h3>
          </div>
          <div class="my-project-link-wrap">
            <a
              class="my-project-link"
              href="https://github.com/zolegov/techtitans"
              target="_blank"
              >VISIT
              <svg width="24" height="24">
                <use href="./img/svg/sprite.svg#icon-arrow-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="my-projects-item is-hidden">
        <picture>
          <source
            srcset="
              ./img/my-projects/starlight.webp    1x,
              ./img/my-projects/starlight-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/my-projects/starlight.png    1x,
              ./img/my-projects/starlight-2x.png 2x
            "
            type="image/png"
          />
          <img
            class="my-project-img"
            src="./img/my-projects/starlight.png"
            alt="starlight studio landing page"
          />
        </picture>
        <p class="my-project-text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects-wrap">
          <div class="my-projects-subtitle-wrap">
            <h3 class="my-projects-subtitle">starlight studio landing page</h3>
          </div>
          <div class="my-project-link-wrap">
            <a
              class="my-project-link"
              href="https://github.com/zolegov/techtitans"
              target="_blank"
              >VISIT
              <svg width="24" height="24">
                <use href="./img/svg/sprite.svg#icon-arrow-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
    </ul>
    <button class="my-project-btn" type="button">LOAD MORE</button>
  </div>
</section>
<script type="module" src="./js/my-projects.js"></script>
