<section id="my-project" class="section-projects">
  <div class="container">
    <h2 class="my-projects-title">my <span>projects</span></h2>
    <ul class="my-projects-list">
      <li class="my-projects-item">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              ./img/my-projects/wallet-mob.webp    1x,
              ./img/my-projects/wallet-mob-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/my-projects/wallet-mob.png    1x,
              ./img/my-projects/wallet-mob-2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 769px)"
            srcset="
              ./img/my-projects/wallet-tab.webp    1x,
              ./img/my-projects/wallet-tab-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 769px)"
            srcset="
              ./img/my-projects/wallet-tab.png    1x,
              ./img/my-projects/wallet-tab-2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/my-projects/wallet-pc.webp    1x,
              ./img/my-projects/wallet-pc-2x.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/my-projects/wallet-pc.png    1x,
              ./img/my-projects/wallet-pc-2x.png 2x
            "
            type="image/png"
          />
          <img src="./img/my-projects/wallet-mob.png" alt="Wallet webservice" />
        </picture>
        <p class="my-project-text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects-wrap">
          <div>
            <h3 class="my-projects-subtitle">Wallet webservice</h3>
          </div>
          <div class="my-project-link-wrap">
            <a
              class="my-project-link"
              href="https://github.com/zolegov/techtitans"
              target="_blank"
              >VISIT
              <svg width="24" height="24">
                <use href="./img/svg/sprite.svg#icon-arrow-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="my-projects-item">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/my-projects/green-harvest-mob.webp    1x,
              ./img/my-projects/green-harvest-mob-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/my-projects/green-harvest-mob.png    1x,
              ./img/my-projects/green-harvest-mob-2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/my-projects/green-harvest-tab.webp    1x,
              ./img/my-projects/green-harvest-tab-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/my-projects/green-harvest-tab.png    1x,
              ./img/my-projects/green-harvest-tab-2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/my-projects/green-harvest-pc.webp    1x,
              ./img/my-projects/green-harvest-pc-2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/my-projects/green-harvest-pc.png    1x,
              ./img/my-projects/green-harvest-pc-2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./img/my-projects/green-harvest-mob.png"
            alt="Green harvest webservice"
          />
        </picture>
        <p class="my-project-text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects-wrap">
          <div>
            <h3 class="my-projects-subtitle">Green harvest webservice</h3>
          </div>
          <div class="my-project-link-wrap">
            <a
              class="my-project-link"
              href="https://github.com/zolegov/techtitans"
              target="_blank"
              >VISIT
              <svg width="24" height="24">
                <use href="./img/svg/sprite.svg#icon-arrow-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="my-projects-item">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/my-projects/english-mob.webp    1x,
              ./img/my-projects/english-mob-2x.webp 1x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/my-projects/english-mob.png    1x,
              ./img/my-projects/english-mob-2x.png 1x
            "
            type="image/png"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/my-projects/english-tab.webp    1x,
              ./img/my-projects/english-tab-2x.webp 1x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/my-projects/english-tab.png    1x,
              ./img/my-projects/english-tab-2x.png 1x
            "
            type="image/png"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/my-projects/english-pc.webp 1x,
              ./img/my-projects/english-pc.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/my-projects/english-pc.png 1x,
              ./img/my-projects/english-pc.png 2x
            "
            type="image/png"
          />
          <img src="./img/my-projects/english-mob.png" alt="" />
        </picture>
        <p class="my-project-text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects-wrap">
          <div>
            <h3 class="my-projects-subtitle">English Exellence website</h3>
          </div>
          <div class="my-project-link-wrap">
            <a
              class="my-project-link"
              href="https://github.com/zolegov/techtitans"
              target="_blank"
              >VISIT
              <svg width="24" height="24">
                <use href="./img/svg/sprite.svg#icon-arrow-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <!-- <li class="my-projects-item">
        <picture>
          <source media="(min-width: )" srcset="" type="image/" />
          <source media="(min-width: )" srcset="" type="image/" />
          <img src="" alt="" />
        </picture>
        <p class="my-project-text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects-wrap">
          <div>
            <h3 class="my-projects-subtitle">English Exellence website</h3>
          </div>
          <div class="my-project-link-wrap">
            <a
              class="my-project-link"
              href="https://github.com/zolegov/techtitans"
              target="_blank"
              >VISIT
              <svg width="24" height="24">
                <use href="../img/svg/sprite.svg#icon-arrow-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="my-projects-item">
        <picture>
          <source media="(min-width: )" srcset="" type="image/" />
          <source media="(min-width: )" srcset="" type="image/" />
          <img src="" alt="" />
        </picture>
        <p class="my-project-text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects-wrap">
          <div>
            <h3 class="my-projects-subtitle">English Exellence website</h3>
          </div>
          <div class="my-project-link-wrap">
            <a
              class="my-project-link"
              href="https://github.com/zolegov/techtitans"
              target="_blank"
              >VISIT
              <svg width="24" height="24">
                <use href="../img/svg/sprite.svg#icon-arrow-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="my-projects-item">
        <picture>
          <source media="(min-width: )" srcset="" type="image/" />
          <source media="(min-width: )" srcset="" type="image/" />
          <img src="" alt="" />
        </picture>
        <p class="my-project-text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects-wrap">
          <div>
            <h3 class="my-projects-subtitle">English Exellence website</h3>
          </div>
          <div class="my-project-link-wrap">
            <a
              class="my-project-link"
              href="https://github.com/zolegov/techtitans"
              target="_blank"
              >VISIT
              <svg width="24" height="24">
                <use href="../img/svg/sprite.svg#icon-arrow-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="my-projects-item">
        <picture>
          <source media="(min-width: )" srcset="" type="image/" />
          <source media="(min-width: )" srcset="" type="image/" />
          <img src="" alt="" />
        </picture>
        <p class="my-project-text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects-wrap">
          <div>
            <h3 class="my-projects-subtitle">English Exellence website</h3>
          </div>
          <div class="my-project-link-wrap">
            <a
              class="my-project-link"
              href="https://github.com/zolegov/techtitans"
              target="_blank"
              >VISIT
              <svg width="24" height="24">
                <use href="../img/svg/sprite.svg#icon-arrow-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="my-projects-item">
        <picture>
          <source media="(min-width: )" srcset="" type="image/" />
          <source media="(min-width: )" srcset="" type="image/" />
          <img src="" alt="" />
        </picture>
        <p class="my-project-text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects-wrap">
          <div>
            <h3 class="my-projects-subtitle">English Exellence website</h3>
          </div>
          <div class="my-project-link-wrap">
            <a
              class="my-project-link"
              href="https://github.com/zolegov/techtitans"
              target="_blank"
              >VISIT
              <svg width="24" height="24">
                <use href="../img/svg/sprite.svg#icon-arrow-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="my-projects-item">
        <picture>
          <source media="(min-width: )" srcset="" type="image/" />
          <source media="(min-width: )" srcset="" type="image/" />
          <img src="" alt="" />
        </picture>
        <p class="my-project-text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects-wrap">
          <div>
            <h3 class="my-projects-subtitle">English Exellence website</h3>
          </div>
          <div class="my-project-link-wrap">
            <a
              class="my-project-link"
              href="https://github.com/zolegov/techtitans"
              target="_blank"
              >VISIT
              <svg width="24" height="24">
                <use href="../img/svg/sprite.svg#icon-arrow-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="my-projects-item">
        <picture>
          <source media="(min-width: )" srcset="" type="image/" />
          <source media="(min-width: )" srcset="" type="image/" />
          <img src="" alt="" />
        </picture>
        <p class="my-project-text">React, JavaScript, Node JS, Git</p>
        <div class="my-projects-wrap">
          <div>
            <h3 class="my-projects-subtitle">English Exellence website</h3>
          </div>
          <div class="my-project-link-wrap">
            <a
              class="my-project-link"
              href="https://github.com/zolegov/techtitans"
              target="_blank"
              >VISIT
              <svg width="24" height="24">
                <use href="../img/svg/sprite.svg#icon-arrow-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li> -->
    </ul>
    <button class="my-project-btn" type="button">LOAD MORE</button>
  </div>
</section>
