<section id="my-project" class="section-projects">
  <div class="container">
    <ul class="list-projects">
      <li class="projects-item">
        <picture>
          <source media="(min-width: )" srcset="" type="image/" />
          <source media="(min-width: )" srcset="" type="image/" />
          <img src="" alt="" />
        </picture>
      </li>
      <li class="projects-item">
        <picture>
          <source media="(min-width: )" srcset="" type="image/" />
          <source media="(min-width: )" srcset="" type="image/" />
          <img src="" alt="" />
        </picture>
      </li>
      <li class="projects-item">
        <picture>
          <source media="(min-width: )" srcset="" type="image/" />
          <source media="(min-width: )" srcset="" type="image/" />
          <img src="" alt="" />
        </picture>
      </li>
      <li class="projects-item">
        <picture>
          <source media="(min-width: )" srcset="" type="image/" />
          <source media="(min-width: )" srcset="" type="image/" />
          <img src="" alt="" />
        </picture>
      </li>
      <li class="projects-item">
        <picture>
          <source media="(min-width: )" srcset="" type="image/" />
          <source media="(min-width: )" srcset="" type="image/" />
          <img src="" alt="" />
        </picture>
      </li>
      <li class="projects-item">
        <picture>
          <source media="(min-width: )" srcset="" type="image/" />
          <source media="(min-width: )" srcset="" type="image/" />
          <img src="" alt="" />
        </picture>
      </li>
      <li class="projects-item">
        <picture>
          <source media="(min-width: )" srcset="" type="image/" />
          <source media="(min-width: )" srcset="" type="image/" />
          <img src="" alt="" />
        </picture>
      </li>
      <li class="projects-item">
        <picture>
          <source media="(min-width: )" srcset="" type="image/" />
          <source media="(min-width: )" srcset="" type="image/" />
          <img src="" alt="" />
        </picture>
      </li>
      <li class="projects-item">
        <picture>
          <source media="(min-width: )" srcset="" type="image/" />
          <source media="(min-width: )" srcset="" type="image/" />
          <img src="" alt="" />
        </picture>
      </li>
      <li class="projects-item">
        <picture>
          <source media="(min-width: )" srcset="" type="image/" />
          <source media="(min-width: )" srcset="" type="image/" />
          <img src="" alt="" />
        </picture>
      </li>
    </ul>
  </div>
</section>
