<section
  class="reviews"
  id="reviews"
  data-aos="fade-right"
  data-aos-once="true"
  data-aos-duration="1000"
>
  <div class="container">
    <h2 class="reviews-title">REVIEWS</h2>
    <div class="list-conteiner">
      <!-- <ul class="reviews-list"></ul> -->
      <div class="swiper mySwiper">
        <ul class="reviews-list swiper-wrapper"></ul>

        <div class="btn-conteiner">
          <button type="button" class="reviews-btn-left">
            <svg class="reviews-icon" width="40" height="40">
              <use href="./img/svg/sprite.svg#icon-arrow-left"></use>
            </svg>
          </button>
          <button type="button" class="reviews-btn-right">
            <svg class="reviews-icon" width="40" height="40">
              <use href="./img/svg/sprite.svg#icon-arrow-right"></use>
            </svg>
            <!-- swiper-button-next -->
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="module" src="./js/reviews.js"></script>
