<section class="reviews" id="reviews">
    <div class="conteiner">
    <!-- <div class="reviews-title-container">  -->
      <h2 class="reviews-title">
      REVIEWS
      </h2>
      <div class="list-conteiner">
      <ul class="reviews-list">
        <li class="reviews-list-item">
          <p class="reviews-item">
            Work with was extraordinary! He turned out to be a very competent and responsible specialist. The projects were completed on time and the result exceeded my expectations</p>
           <div class="reviews-list-conteiner">
            <picture> <source
                srcset="./img/reviews/natalia.png 1x, ./img/reviews/natalia-2x.png 2x"
               />
            <img
            src="./img/reviews/natalia.png"
            alt="natalia"
            width="40"
            height="40"
            class="reviews-img"
             />
            </picture>
            <h3 class="reviews-second-title">Natalia Shevchenko</h3>
        </div>
        </li>
        <li class="reviews-list-item">
          <p class="reviews-item">
            I have the honor to recommend him as an exceptional professional in his field. His knowledge and expertise are undeniable. Cooperation with him always brings impressive results.
          </p>
          <div class="reviews-list-conteiner">
          <picture>
            <source
            srcset="./img/reviews/dmytro.png
            1x, ./img/reviews/dmytro-2x.png 2x"
           />
        <img
        src="./img/reviews/dmytro.png"
        alt="dmytro"
        width="40"
        height="40"
        class="reviews-img"
         /></picture>
          <h3 class="reviews-second-title">
            Dmytro Nazarenko
          </h3>
        </div>
        </li>
      </ul>
      <div class="btn-conteiner">
      <button type="" class="reviews-btn-left"><svg class="reviews-icon" width="38" height="24">
        <use href=""></use>
      </svg></button>
      <button type="" class="reviews-btn-right"><svg class="reviews-icon" width="38" height="24">
        <use href=""></use>
      </svg></button>
    </div>
</div>
    <!-- </div> -->
</div>
  </section>