<section class="tech-skills">
  <div class="container">
    <h2 class="visually-hidden">Tech Skills</h2>

    <div class="logos">
      <div class="logo-container">
        <ul class="logo-slider">
          <li class="logo-item"><p>HTML/CSS</p></li>
          <li class="logo-item"><p>JavaScript</p></li>
          <li class="logo-item"><p>React</p></li>
          <li class="logo-item"><p>Node. js</p></li>
          <li class="logo-item"><p>React Native</p></li>
          <li class="logo-item"><p>TypeScript</p></li>
        </ul>
        <ul class="logo-slider">
          <li class="logo-item"><p>HTML/CSS</p></li>
          <li class="logo-item"><p>JavaScript</p></li>
          <li class="logo-item"><p>React</p></li>
          <li class="logo-item"><p>Node. js</p></li>
          <li class="logo-item"><p>React Native</p></li>
          <li class="logo-item"><p>TypeScript</p></li>
        </ul>
      </div>

      <div class="logo-container logo-container-bottom">
        <ul class="logo-slider">
          <li class="logo-item"><p>HTML/CSS</p></li>
          <li class="logo-item"><p>JavaScript</p></li>
          <li class="logo-item"><p>React</p></li>
          <li class="logo-item"><p>Node. js</p></li>
          <li class="logo-item"><p>React Native</p></li>
          <li class="logo-item"><p>TypeScript</p></li>
        </ul>
        <ul class="logo-slider">
          <li class="logo-item"><p>HTML/CSS</p></li>
          <li class="logo-item"><p>JavaScript</p></li>
          <li class="logo-item"><p>React</p></li>
          <li class="logo-item"><p>Node. js</p></li>
          <li class="logo-item"><p>React Native</p></li>
          <li class="logo-item"><p>TypeScript</p></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- <div class="marquee">
  <div class="marquee-inner">
    <h3 class="marquee-line">
      HTML/CSS <span class="dot"></span> JavaScript
      <span class="dot"></span> React Node. js <span class="dot"></span> React
      Native <span class="dot"></span> TypeScript <span class="dot"></span>
    </h3>

    <h3 class="marquee-line">
      HTML/CSS <span class="dot"></span> JavaScript
      <span class="dot"></span> React Node. js <span class="dot"></span> React
      Native <span class="dot"></span> TypeScript <span class="dot"></span>
    </h3>
  </div>

  <div class="marquee-inner marquee-inner-bent">
    <h3 class="marquee-line">
      HTML/CSS <span class="dot"></span> JavaScript
      <span class="dot"></span> React Node. js <span class="dot"></span> React
      Native <span class="dot"></span> TypeScript <span class="dot"></span>
    </h3>

    <h3 class="marquee-line marquee-line-second">
      HTML/CSS <span class="dot"></span> JavaScript
      <span class="dot"></span> React Node. js <span class="dot"></span> React
      Native <span class="dot"></span> TypeScript <span class="dot"></span>
    </h3>
  </div>
</div> -->
