<section class="tech-skills">
  <div class="container">
    <h2 class="visually-hidden">Tech Skills</h2>

    <div class="tech-skills-slider">
      <div class="skills-slider-container">
        <ul class="skills-slider">
          <li class="skill-item"><p class="skill-item-text">HTML/CSS</p></li>
          <li class="skill-item"><p class="skill-item-text">JavaScript</p></li>
          <li class="skill-item"><p class="skill-item-text">React</p></li>
          <li class="skill-item"><p class="skill-item-text">Node. js</p></li>
          <li class="skill-item">
            <p class="skill-item-text">React Native</p>
          </li>
          <li class="skill-item"><p class="skill-item-text">TypeScript</p></li>
        </ul>
        <ul class="skills-slider">
          <li class="skill-item"><p class="skill-item-text">HTML/CSS</p></li>
          <li class="skill-item"><p class="skill-item-text">JavaScript</p></li>
          <li class="skill-item"><p class="skill-item-text">React</p></li>
          <li class="skill-item"><p class="skill-item-text">Node. js</p></li>
          <li class="skill-item">
            <p class="skill-item-text">React Native</p>
          </li>
          <li class="skill-item"><p class="skill-item-text">TypeScript</p></li>
        </ul>
      </div>

      <div class="skills-slider-container skills-slider-container-bottom">
        <ul class="skills-slider">
          <li class="skill-item"><p class="skill-item-text">HTML/CSS</p></li>
          <li class="skill-item"><p class="skill-item-text">JavaScript</p></li>
          <li class="skill-item"><p class="skill-item-text">React</p></li>
          <li class="skill-item"><p class="skill-item-text">Node. js</p></li>
          <li class="skill-item">
            <p class="skill-item-text">React Native</p>
          </li>
          <li class="skill-item"><p class="skill-item-text">TypeScript</p></li>
        </ul>
        <ul class="skills-slider">
          <li class="skill-item"><p class="skill-item-text">HTML/CSS</p></li>
          <li class="skill-item"><p class="skill-item-text">JavaScript</p></li>
          <li class="skill-item"><p class="skill-item-text">React</p></li>
          <li class="skill-item"><p class="skill-item-text">Node. js</p></li>
          <li class="skill-item">
            <p class="skill-item-text">React Native</p>
          </li>
          <li class="skill-item"><p class="skill-item-text">TypeScript</p></li>
        </ul>
      </div>
    </div>
  </div>
</section>
