<section class="work-together" id="work-together">
  <div class="container">
    <div class="title-picture">
      <h2 class="work-together-title">
        <span class="highlight">LET'S</span> WORK TOGETHER
      </h2>
      <picture>
        <source
          srcset="
            ./img/decor-bg/decor-bg-4.webp    1x,
            ./img/decor-bg/decor-bg-4-2x.webp 2x
          "
          media="(min-width: 1280px)"
        />
        <img
          class="together-picture"
          src="./img/decor-bg/decor-bg-4.webp"
          alt="background"
          width="526"
        />
      </picture>
    </div>
    <div class="contacts-form">
      <div class="work-together-contacts">
        <p class="work-together-contacts-title">
          Contact me to transform your ideas into exceptional solutions.
        </p>
        <address class="contact">
          <ul class="contacts-list">
            <li class="contacts-item">
              <svg class="contacts-img" width="24" height="24">
                <use href="./img/svg/sprite.svg#icon-tel"></use>
              </svg>
              <a class="contacts-item-text" href="tel:+380904567890"
                >+38 090 456 78 90</a
              >
            </li>
            <li class="contacts-item">
              <svg class="contacts-img" width="24" height="24">
                <use href="./img/svg/sprite.svg#icon-mail"></use>
              </svg>
              <a
                class="contacts-item-text"
                href="mailto:lloydjefferson@gmail.com"
                >lloydjefferson@gmail.com</a
              >
            </li>
            <li class="contacts-item">
              <svg class="contacts-img" width="24" height="24">
                <use href="./img/svg/sprite.svg#icon-geo"></use>
              </svg>
              <span class="contacts-item-text">USA, New York</span>
            </li>
          </ul>
        </address>
      </div>
      <div class="work-together-form">
        <form class="work-together-input">
          <input
            type="email"
            name="user-email"
            placeholder="Your email*"
            class="input-text"
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            required
          />
          <textarea
            name="comments"
            id="comments"
            class="textarea-text"
            placeholder="Message"
            required
          ></textarea>
          <button type="submit" class="form-button">SEND MESSAGE</button>
        </form>
      </div>
    </div>
    <hr class="separator" />
  </div>
</section>
<script type="module" src="./js/work-together.js"></script>
