.about-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 40px;
}
.about-me-section {
  padding-bottom: 80px;
}
.title-span {
  color: #00b068;
}

.about-img {
  margin-bottom: 40px;
}

.bio {
  margin-bottom: 40px;
}

.about-title-second {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 32px;
}

.bio-part-one {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
  margin-bottom: 20px;
}

.bio-part-two {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
}

.education {
  margin-bottom: 40px;
}

.education-item {
  position: relative;
  padding-left: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
}

.education-item:not(:last-child) {
  margin-bottom: 12px;
}

.education-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  /* transform: translateY(-50%); */
  width: 4px;
  height: 4px;
  background-color: #00b068;
  border-radius: 1px;
  margin-left: 10px;
}

.role-item {
  position: relative;
  padding-left: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
}

.role-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  /* transform: translateY(-50%); */
  width: 4px;
  height: 4px;
  background-color: #00b068;
  border-radius: 1px;
  margin-left: 6px;
}

.role-item:not(:last-child) {
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  .about-me-section {
    padding-bottom: 124px;
  }
  .about-title {
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #292929;
  }

  .about-me {
    background-image: url(../img/about-me/decor-1x-tab.png);
    background-repeat: no-repeat;
    background-position: left 393px top 850px;
    background-size: 336px 252px;
  }
  .education-item:not(:last-child),
  .role-item:not(:last-child) {
    margin-bottom: 16px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .about-me {
      background-image: url(../img/about-me/decor-2x-tab.png);
    }
  }

  .about-title-second {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.33333;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #292929;
    margin-bottom: 32px;
  }

  .bio-part-one {
    margin-bottom: 24px;
  }

  .part-img-bio {
    display: flex;
    gap: 32px;
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .about-img {
    margin-top: 368px;
    margin-bottom: 0;
  }

  .part-education-role {
    display: flex;
    gap: 32px;
  }

  .bio {
    max-width: 336px;
    margin-bottom: 0;
  }

  .education {
    max-width: 336px;
    margin-bottom: 0;
  }

  .role {
    max-width: 336px;
  }
}

@media (min-width: 1280px) {
  .about-me-section {
    padding-bottom: 164px;
  }
  .about-me {
    background-image: url(../img/about-me/decor-1x-desk.png);
    background-repeat: no-repeat;
    background-position: left 812px top 692px;
    background-size: 384px 288px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .about-me {
      background-image: url(../img/about-me/decor-2x-desk.png);
    }
  }

  .about-img {
    margin-top: 272px;
    margin-left: 208px;
  }

  .part-img-bio {
    display: flex;
    gap: 136px;
    margin-top: 40px;
    margin-bottom: 85px;
  }

  .bio {
    max-width: 488px;
  }

  .part-education-role {
    margin-left: 208px;
    gap: 136px;
  }

  .education {
    max-width: 384px;
  }
}
