body.dark {
  background-color: #1e2023;
}

.dark .logo,
.dark .header-menu-link,
.dark .hero-title,
.dark .hero-link,
.dark .hero-info,
.dark .hero-soc-link,
.dark .about-title,
.dark .about-title-second,
.dark .bio-part-one,
.dark .bio-part-two,
.dark .education-item,
.dark .role-item,
.dark .skill-item-text,
.dark .skills-slider-container-bottom .skill-item-text,
.dark .my-projects-title,
.dark .my-project-text,
.dark .my-projects-subtitle {
  color: #f0f0f0;
}

.dark .logo-green,
.dark .hero-green,
.dark .hero-info-greeen {
  color: #14c57c;
}

.dark .skills-slider-container {
  background-color: #214136;
}
.dark .skills-slider-container-bottom,
.dark .my-project-link {
  background: #2a2d32;
}

.dark .my-project-link {
  background: #2a2d32;
  color: #f0f0f0;
  transform: background-color 300ms ease;
}

.dark .my-project-link:hover {
  background-color: #3b3f45;
}

.dark .education-item::before,
.dark .role-item::before,
.dark .skill-item::before {
  background-color: #14c57c;
}

.dark .hero-decor-rectangle {
  background-color: #204136;
}
.hero-decor-rectangle:hover {
  background-color: #14c57c;
}

.dark .header-menu-link,
.dark .hero-link,
.dark .hero-soc-link {
  transform: background-color 300ms ease;
}

.dark .header-menu-link:hover,
.dark .hero-link:hover,
.dark .hero-soc-link:hover,
.dark .my-project-btn:hover {
  color: #14c57c;
}

.dark .hero-soc-list {
  background-color: #2a2d32;
}

.dark .my-project-btn {
  color: #f0f0f0;
  transform: color 300ms ease;
}
