.reviews {
  padding-bottom: 80px;
}

.reviews-title {
  font-family: Impact;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-align: center;
  /* width: 194px; */
  margin-bottom: 40px;
}

.reviews-list {
  display: flex;
}
.reviews-list-item {
  width: 100%;
  /* height: 296px; */
  padding: 32px;
  gap: 24px;
  border-radius: 16px;
  background-color: #e4e5e6;
}

.reviews-item {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  max-width: 256px;
  padding-bottom: 24px;
}
.reviews-list-conteiner {
  display: flex;
  gap: 16px;
  align-items: center;
}
.reviews-img {
  gap: 0px;
  border-radius: 24px;
}

.reviews-second-title {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: left;
}

.btn-conteiner {
  display: flex;
  justify-content: right;
  gap: 16px;
  margin-top: 24px;
}
#reviews
  div.container
  div.list-conteiner
  div.swiper.mySwiper
  .btn-conteiner
  .reviews-btn-left.swiper-button-prev {
  display: flex;
  align-items: center;

  padding: 20px;
  gap: 10px;
  border-radius: 8px;

  border: 1px solid #2929294d;
  background-color: #fff;
}
.mySwiper .reviews-btn-left.swiper-button-prev.swiper-button-disabled {
  position: static;
  color: gray;
}
.mySwiper .reviews-btn-left.swiper-button-prev.swiper-button-disabled,
.mySwiper .reviews-btn-right.swiper-button-next {
  position: static;
  color: gray;
}
.mySwiper .reviews-btn-right.swiper-button-next {
  position: static;
  color: gray;
  padding: 20px;
}
.mySwiper .reviews-btn-left.swiper-button-prev {
  position: static;
  color: gray;
}
.reviews-btn-left {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #2929294d;
}
.reviews-btn-right {
  display: flex;
  align-items: center;

  padding: 8px;
  gap: 10px;
  border-radius: 8px;

  border: 1px solid #2929294d;
  background-color: #e9e9ed;
}

.reviews-icon {
  fill: transparent;
  stroke: #292929;
  width: 24px;
  height: 24px;
  /* flex-shrink: 0; */
}

.errorContainer {
  margin: 0 auto;
}

.not-found-title {
  text-align: center;
  /* font-family: Impact; */
  color: var(--Black, #292929);
  font-size: 32px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.not-found-text {
  text-align: center;
  color: #292929;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.027em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .reviews {
    padding-bottom: 124px;
  }
  .reviews-title {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    /* width: 391px; */

    margin-bottom: 60px;
  }

  /* .reviews-list {
    gap: 32px;
  } */

  .reviews-item {
    max-width: 640px;
    margin-bottom: 27px;
  }

  .not-found-title {
    font-size: 52px;
    margin-bottom: 32px;
  }
  .not-found-text {
    font-size: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .reviews {
    padding-bottom: 0;
  }

  .reviews-title {
    margin-bottom: 80px;
  }

  .reviews-item {
    max-width: 528px;
    height: 96px;
  }
  .btn-conteiner {
    padding-right: 0;
    gap: 24px;
  }
  .reviews-btn-left {
    width: 48px;
    height: 48px;
  }
  .reviews-btn-right {
    width: 48px;
    height: 48px;
  }
}

/* new style btn */
.reviews-btn-left.swiper-button-disabled,
.reviews-btn-right.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

/* .reviews-btn-left .reviews-icon use {
  href: url('../img/svg/sprite.svg#icon-arrow-left');
}

.reviews-btn-right .reviews-icon use {
  href: url('../img/svg/sprite.svg#icon-arrow-right');
} */
