.reviews {
  padding-bottom: 80px;
}
.reviews-title-conteiner {
  /* width: 320px;
    height: 360px;
    gap: 24px;
     padding-left: 20px;
      padding-right: 20px;  */
}

.reviews-title {
  font-family: Impact;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-align: center;
  /* width: 194px; */
  margin-bottom: 40px;
}
.list-conteiner {
}
.reviews-list {
  display: flex;
  /* flex-wrap: wrap; */
  overflow: hidden;
  /* gap: 32px; */
}
.reviews-list-item {
  width: 100%;
  /* height: 296px; */
  padding: 32px;
  gap: 24px;
  border-radius: 16px;
  background-color: #e4e5e6;
}

.reviews-item {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  width: 256px;
  padding-bottom: 24px;
}
.reviews-list-conteiner {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 16px;
  align-items: center;
}
.reviews-img {
  gap: 0px;
  border-radius: 24px;
}
.reviews-second-title {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: left;
}

.btn-conteiner {
  display: flex;
  justify-content: right;
  gap: 16px;
  padding-top: 24px;
}
.reviews-btn-left {
  gap: 10px;
  border-radius: 8px;
  border: 1px;
  opacity: 0px;
  angle: -180 deg;

  border: 1px solid #2929291a;
  background-color: #fff;
}
.reviews-btn-right {
  gap: 10px;
  border-radius: 8px;
  border: 1px;
  opacity: 0px;

  border: 1px solid #2929294d;
  background-color: #fff;
}

.errorContainer {
  margin: 0 auto;
}

.not-found-title {
  text-align: center;
  /* font-family: Impact; */
  color: var(--Black, #292929);
  font-size: 32px;
  line-height: 1.23;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .reviews {
    padding-bottom: 124px;
  }
  .reviews-title {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    /* width: 391px; */

    margin-bottom: 60px;
  }
  .list-conteiner {
  }
  .reviews-list {
    gap: 32px;
  }
  .reviews-list-item {
  }
  .reviews-item {
    width: 640px;
    margin-bottom: 27px;
  }

  .not-found-title {
    font-size: 52px;
  }
}
@media screen and (min-width: 1280px) {
  .reviews {
    padding-bottom: 164px;
  }

  .reviews-title {
    margin-bottom: 80px;
  }
  .list-conteiner {
  }
  .reviews-list-item {
  }
  .reviews-item {
    width: 528px;
    height: 96px;
  }
  .btn-conteiner {
    padding-right: 0;
    gap: 24px;
  }
  .reviews-btn-left {
    width: 48px;
    height: 48px;
  }
  .reviews-btn-right {
    width: 48px;
    height: 48px;
  }
}
