.work-together {
  padding-bottom: 80px;
}

.work-together-title {
  font-family: Impact, sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #00b068;
  max-width: 253px;
}

.highlight {
  color: black;
}

.together-picture {
  display: none;
}

.work-together-contacts {
  margin-top: 40px;
  margin-bottom: 40px;
  /* max-width: 320px; */
  width: 100%;
  height: 220px;
}

.work-together-contacts-title {
  font-family: 'Poppins', sans-serif;
  padding-bottom: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: black;
  width: 100%;
}

.contact {
  margin-bottom: 40px;
}

.contacts-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.contacts-img {
  margin-right: 16px;
  flex-shrink: 0;
}

.contacts-item-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: black;
  transition: color 300ms ease;
}

.contacts-item-text:hover {
  color: #00b068;
}

.work-together-form {
  max-width: 320px;
  height: 288px;
}

.work-together-input {
  display: flex;
  flex-direction: column;
}

.input-text,
.textarea-text {
  font-family: 'Poppins', sans-serif;
  border-radius: 8px;
  border: none;
  max-width: 320px;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: lightgrey;

  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: black;
  outline: none;
  width: 100%;
}

.textarea-text {
  height: 128px;
  padding-top: 16px;
  resize: none;
  margin: 32px 0;
}

.form-button {
  border-radius: 8px;
  padding: 12px 24px;
  max-width: 320px;
  width: 100%;
  height: 48px;
  background: #00b068;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 300ms ease;
}

.form-button:hover {
  background-color: #009156;
}

.separator {
  border: none;
  height: 1px;
  background-color: #cccccc;
  margin-top: 80px;
}

.modal {
  background: white;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 16px;
  padding: 48px 32px;
  width: 320px;
  height: 328px;
}

.modal svg {
  stroke: #000;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.text-content-modal {
  width: 256px;
  height: 232px;
}

.modal h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #00b068;
}

.modal .text-modal-second {
  margin-top: 16px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: black;
  text-transform: none;
}

.invalid {
  color: red;
}

.error-message {
  display: none;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #e74a3b;
}

.error-message.invalid {
  background-color: red;
  display: block;
  width: 100%;
  height: 20px;
}

.work-email-wrapper {
  position: relative;
}

.input-success-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  display: none;
}

@media screen and (min-width: 768px) {
  .work-together {
    background-image: url('../img/decor-bg/decor-bg-3.webp');
    background-repeat: no-repeat;
    background-position-x: 400px;
    background-position-y: 15px;
    padding-top: 124px;
  }
  .work-together-title {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    max-width: 507px;
  }

  .title-picture {
    display: flex;
    position: relative;
  }

  .together-picture {
    display: block;
    position: absolute;
    top: -120px;
    right: 1px;
    width: 336px;
  }
  .work-together-contacts {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 639px;
    height: 120px;
  }
  .work-together-contacts-title {
    font-size: 20px;
    line-height: 1.6;
    max-width: 488px;
  }
  .contacts-list {
    display: flex;
  }

  .contacts-list .contacts-item:not(:first-child) {
    margin-left: 16px;
  }
  .contacts-item {
    margin-bottom: 0;
  }
  .work-together-form {
    max-width: 704px;
    height: 288px;
  }
  .input-text,
  .textarea-text {
    max-width: 704px;
    height: 48px;
  }
  .textarea-text {
    height: 128px;
    padding: 16px;
    resize: none;
  }

  .form-button {
    width: 173px;
    height: 48px;
  }

  .separator {
    margin-top: 124px;
  }

  .modal {
    background: white;
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-radius: 16px;
    padding: 64px;
    width: 492px;
    height: 280px;
  }

  .text-content-modal {
    width: 364px;
    height: 152px;
  }

  .work-together-title {
    max-width: 515px;
  }
  .modal svg {
    top: 20px;
    right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .work-together {
    background-image: url('../img/decor-bg/decor-bg-4.webp');
    background-repeat: no-repeat;
    background-position-x: 717px;
    background-position-y: 14px;
    padding-top: 164px;
    padding-bottom: 164px;
  }
  .together-picture {
    width: 526px;
  }
  .contacts-form {
    margin-top: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .work-together-contacts {
    margin-top: 0;
    width: 488px;
  }

  .work-together-contacts-title {
    margin-bottom: 120px;
    padding-bottom: 0;
  }

  .contacts-list {
    display: block;
  }

  .contacts-list .contacts-item:not(:first-child) {
    margin-left: 0;
  }
  .contacts-item {
    margin-bottom: 16px;
  }

  .work-together-form {
    width: 592px;
  }

  .input-text,
  .textarea-text {
    width: 100%;
  }

  .modal .modal-close-btn {
    top: 26px;
    right: 26px;
  }
}
