.work-together {
}

.work-together-title {
  font-family: Impact, sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #00b068;
}

.highlight {
  color: black;
}

.work-together-contacts {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 320px;
  height: 220px;
}

.work-together-contacts-title {
  font-family: 'Poppins', sans-serif;
  padding-bottom: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: black;
}

.contact {
  margin-bottom: 40px;
}

.contacts-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.contacts-img {
  margin-right: 16px;
}

.contacts-item-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: black;
}

.contacts-item-text:hover {
  color: #00b068;
}

.work-together-form {
  width: 320px;
  height: 288px;
}

.work-together-input {
  display: flex;
  flex-direction: column;
}

.input-text,
.textarea-text {
  font-family: 'Poppins', sans-serif;
  border-radius: 8px;
  border: none;
  width: 320px;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: lightgrey;
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: black;
}

.textarea-text {
  height: 128px;
  padding-top: 16px;
  resize: none;
}

.form-button {
  border-radius: 8px;
  padding: 12px 24px;
  width: 320px;
  height: 48px;
  background: #00b068;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
}

.form-button:hover {
  background: #009156;
}

.separator {
  border: none;
  height: 1px;
  background-color: #cccccc;
  margin-top: 80px;
}

@media screen and (min-width: 768px) {
  .work-together-title {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
  }
  .work-together-contacts {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 639px;
    height: 120px;
  }
  .work-together-contacts-title {
    font-size: 20px;
    line-height: 1.6;
  }
  .contacts-list {
    display: flex;
  }

  .contacts-list .contacts-item:not(:first-child) {
    margin-left: 16px;
  }
  .contacts-item {
    margin-bottom: 0;
  }
  .work-together-form {
    width: 704px;
    height: 288px;
  }
  .input-text,
  .textarea-text {
    width: 704px;
    height: 48px;
  }
  .textarea-text {
    height: 128px;
    padding: 16px;
    resize: none;
  }

  .form-button {
    width: 173px;
    height: 48px;
  }

  .separator {
    margin-top: 124px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-form {
    margin-top: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .work-together-contacts {
    margin-top: 0;
    width: 50%;
  }

  .work-together-contacts-title {
    margin-bottom: 120px;
    padding-bottom: 0;
  }

  .contacts-list {
    display: block;
  }

  .contacts-list .contacts-item:not(:first-child) {
    margin-left: 0;
  }
  .contacts-item {
    margin-bottom: 16px;
  }

  .work-together-form {
    width: 50%;
  }

  .input-text,
  .textarea-text {
    width: 100%;
  }
}

/******* css для відображення невалідного імейла в інпуті 
(необхідно прописати функцію в js /*******/

/* .invalid-email {
  color: red;
}

.invalid-email::after {
  content: 'Invalid email, try again';
  display: block;
  font-size: 14px;
  margin-top: 5px;
} */
